absl-py==2.1.0
accelerate==1.12.0
ai.engine==0.0.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
aiosmtplib==4.0.1
aiosqlite==0.21.0
alembic==1.16.1
altair==5.4.1
altgraph==0.17.4
amqp==5.3.1
annotated-types==0.6.0
anyio==4.9.0
apispec==6.6.1
appnope==0.1.4
arrow==1.3.0
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
asyncio==3.4.3
asyncpg==0.30.0
attrs==25.3.0
autoflake==2.3.1
Automat==25.4.16
aws==0.2.5
azure-core==1.32.0
backoff==2.2.1
bandit==1.8.3
bcrypt==4.1.3
beautifulsoup4==4.12.3
bech32==1.2.0
behave==1.2.6
billiard==4.2.1
binaryornot==0.4.4
black==25.1.0
bleach==6.2.0
blinker==1.8.2
boto==2.49.0
boto3==1.35.69
botocore==1.35.69
bottle==0.13.3
Bottleneck==1.5.0
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.3
cachetools==5.3.3
celery==5.5.2
certifi==2025.7.9
cffi==1.16.0
cfgv==3.4.0
cfscrape==2.1.1
chardet==5.2.0
charset-normalizer==3.3.2
chitchat==0.0.1
chroma-hnswlib==0.7.6
chromadb==0.5.21
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.41.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
comtypes==1.4.8
constantly==23.10.4
contourpy==1.3.0
cookiecutter==2.6.0
cosmpy==0.9.2
coverage==7.9.1
Crawl4AI==0.6.2
cryptography==42.0.7
cssselect==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==4.5.0
debugpy==1.8.14
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.15
dill==0.4.0
distlib==0.3.9
dnspython==2.6.1
docstring_parser==0.16
docutils==0.21.2
docx==0.2.4
docx2txt==0.9
durationpy==0.9
ecdsa==0.19.0
email_validator==2.1.1
et_xmlfile==2.0.0
Events==0.5
exceptiongroup==1.3.0
execnet==2.1.1
executing==2.2.0
fabric==3.2.2
factory_boy==3.3.3
faiss==1.8.0
faiss-cpu==1.9.0.post1
fake-http-header==0.3.5
fake-useragent==2.2.0
Faker==37.1.0
fastapi==0.111.0
fastapi-cli==0.0.4
fasteners==0.19
filelock==3.18.0
filetype==1.2.0
firebase-admin==6.2.0
flake8==7.2.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Limiter==3.9.2
flatbuffers==24.3.25
flet==0.28.2
flet-cli==0.28.2
flet-desktop==0.28.2
flower==2.0.1
fonttools==4.54.1
fpdf==1.7.2
frozenlist==1.7.0
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
geopandas==1.1.1
gitdb==4.0.11
GitPython==3.1.43
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.19.0
google-api-python-client==2.134.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==1.104.0
google-cloud-bigquery==3.35.0
google-cloud-core==2.4.3
google-cloud-firestore==2.13.1
google-cloud-resource-manager==1.14.2
google-cloud-secret-manager==2.22.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-genai==1.26.0
google-generativeai==0.8.4
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.1
greenlet==3.2.4
groq==0.31.0
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.62.3
h11==0.14.0
h5py==3.12.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huepy==1.2.1
huggingface-hub==0.31.4
humanfriendly==10.0
humanize==4.12.3
hyperlink==21.0.0
identify==2.6.12
idna==3.7
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
incremental==24.7.2
inflection==0.5.1
iniconfig==2.1.0
instabot==0.117.0
instagrapi==2.1.3
instaloader==4.14
invoke==2.2.0
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isort==6.0.1
itemadapter==0.12.0
itemloaders==1.3.2
itsdangerous==2.2.0
jax==0.4.38
jaxlib==0.4.38
jedi==0.19.2
Jinja2==3.1.4
jira==3.8.0
jiter==0.7.0
jmespath==1.0.1
joblib==1.4.2
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jwt==1.3.1
kaggle==1.7.4.5
keras==3.8.0
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==1.1.1
kiwisolver==1.4.7
kombu==5.5.3
kubernetes==31.0.0
langchain==0.3.3
langchain-chroma==0.1.4
langchain-community==0.3.2
langchain-core==0.3.63
langchain-experimental==0.3.4
langchain-google==0.1.1
langchain-google-genai==2.0.1
langchain-google-vertexai==2.0.24
langchain-groq==0.3.7
langchain-huggingface==0.2.0
langchain-text-splitters==0.3.0
langsmith==0.1.147
libclang==18.1.1
lightweight-charts==2.1
limits==3.14.1
litellm==1.68.0
llama-scan==0.1.5
logger==1.4
lxml==5.4.0
macholib==1.16.3
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe==0.7.0
mcp==1.6.0
mdurl==0.1.2
mediapipe==0.10.21
ml-dtypes==0.4.1
mmh3==5.0.1
mock==5.1.0
monotonic==1.6
motor==3.7.1
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msal==1.31.0
msgpack==1.1.1
multidict==6.6.3
multiprocess==0.70.18
mycdp==1.2.0
mypy==1.15.0
mypy_extensions==1.1.0
mysql-connector==2.2.9
mysql-connector-python==9.3.0
namex==0.0.8
narwhals==1.10.0
neat-python==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
ngrok==1.4.0
nltk==3.9.1
nodeenv==1.9.1
numexpr==2.10.2
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.20.1
openai==1.75.0
OpenAIAuth==3.0.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
openpyxl==3.1.5
opensearch-py==2.7.1
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.15.0
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.15.0
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
opt_einsum==3.4.0
optree==0.13.0
ordered-set==4.1.0
orjson==3.10.3
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
parameterized==0.9.0
paramiko==3.5.0
parse==1.20.2
parse_type==0.6.4
parsel==1.10.0
parsimonious==0.10.0
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pbr==6.1.1
pdbp==1.7.1
pexpect==4.9.0
pillow==10.4.0
pio==0.0.3
platformdirs==4.3.7
playwright==1.52.0
plotly==5.24.1
pluggy==1.5.0
posthog==3.7.4
pre_commit==4.2.0
prettytable==3.12.0
proglog==0.1.10
prometheus_client==0.21.1
prompt_toolkit==3.0.51
propcache==0.3.2
Protego==0.5.0
proto-plus==1.24.0
protobuf==4.25.3
proxy_tools==0.1.0
psutil==7.0.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==23.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycodestyle==2.13.0
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==2.11.7
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher==2.0.7
pydoll-python==2.3.1
pydub==0.25.1
pyee==13.0.0
pyflakes==3.3.2
pygame==2.6.1
PyGetWindow==0.0.9
PyGithub==2.5.0
Pygments==2.18.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.10.1
PyMonCtl==0.92
pymongo==4.13.0
PyMsgBox==1.0.9
PyMuPDF==1.26.4
PyNaCl==1.5.0
pynose==1.5.4
pyobjc==10.3.2
pyobjc-core==10.3.2
pyobjc-framework-Accessibility==10.3.2
pyobjc-framework-Accounts==10.3.2
pyobjc-framework-AddressBook==10.3.2
pyobjc-framework-AdServices==10.3.2
pyobjc-framework-AdSupport==10.3.2
pyobjc-framework-AppleScriptKit==10.3.2
pyobjc-framework-AppleScriptObjC==10.3.2
pyobjc-framework-ApplicationServices==10.3.2
pyobjc-framework-AppTrackingTransparency==10.3.2
pyobjc-framework-AudioVideoBridging==10.3.2
pyobjc-framework-AuthenticationServices==10.3.2
pyobjc-framework-AutomaticAssessmentConfiguration==10.3.2
pyobjc-framework-Automator==10.3.2
pyobjc-framework-AVFoundation==10.3.2
pyobjc-framework-AVKit==10.3.2
pyobjc-framework-AVRouting==10.3.2
pyobjc-framework-BackgroundAssets==10.3.2
pyobjc-framework-BrowserEngineKit==10.3.2
pyobjc-framework-BusinessChat==10.3.2
pyobjc-framework-CalendarStore==10.3.2
pyobjc-framework-CallKit==10.3.2
pyobjc-framework-CFNetwork==10.3.2
pyobjc-framework-Cinematic==10.3.2
pyobjc-framework-ClassKit==10.3.2
pyobjc-framework-CloudKit==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Collaboration==10.3.2
pyobjc-framework-ColorSync==10.3.2
pyobjc-framework-Contacts==10.3.2
pyobjc-framework-ContactsUI==10.3.2
pyobjc-framework-CoreAudio==10.3.2
pyobjc-framework-CoreAudioKit==10.3.2
pyobjc-framework-CoreBluetooth==10.3.2
pyobjc-framework-CoreData==10.3.2
pyobjc-framework-CoreHaptics==10.3.2
pyobjc-framework-CoreLocation==10.3.2
pyobjc-framework-CoreMedia==10.3.2
pyobjc-framework-CoreMediaIO==10.3.2
pyobjc-framework-CoreMIDI==10.3.2
pyobjc-framework-CoreML==10.3.2
pyobjc-framework-CoreMotion==10.3.2
pyobjc-framework-CoreServices==10.3.2
pyobjc-framework-CoreSpotlight==10.3.2
pyobjc-framework-CoreText==10.3.2
pyobjc-framework-CoreWLAN==10.3.2
pyobjc-framework-CryptoTokenKit==10.3.2
pyobjc-framework-DataDetection==10.3.2
pyobjc-framework-DeviceCheck==10.3.2
pyobjc-framework-DictionaryServices==10.3.2
pyobjc-framework-DiscRecording==10.3.2
pyobjc-framework-DiscRecordingUI==10.3.2
pyobjc-framework-DiskArbitration==10.3.2
pyobjc-framework-DVDPlayback==10.3.2
pyobjc-framework-EventKit==10.3.2
pyobjc-framework-ExceptionHandling==10.3.2
pyobjc-framework-ExecutionPolicy==10.3.2
pyobjc-framework-ExtensionKit==10.3.2
pyobjc-framework-ExternalAccessory==10.3.2
pyobjc-framework-FileProvider==10.3.2
pyobjc-framework-FileProviderUI==10.3.2
pyobjc-framework-FinderSync==10.3.2
pyobjc-framework-FSEvents==10.3.2
pyobjc-framework-GameCenter==10.3.2
pyobjc-framework-GameController==10.3.2
pyobjc-framework-GameKit==10.3.2
pyobjc-framework-GameplayKit==10.3.2
pyobjc-framework-HealthKit==10.3.2
pyobjc-framework-ImageCaptureCore==10.3.2
pyobjc-framework-InputMethodKit==10.3.2
pyobjc-framework-InstallerPlugins==10.3.2
pyobjc-framework-InstantMessage==10.3.2
pyobjc-framework-Intents==10.3.2
pyobjc-framework-IntentsUI==10.3.2
pyobjc-framework-IOBluetooth==10.3.2
pyobjc-framework-IOBluetoothUI==10.3.2
pyobjc-framework-IOSurface==10.3.2
pyobjc-framework-iTunesLibrary==10.3.2
pyobjc-framework-KernelManagement==10.3.2
pyobjc-framework-LatentSemanticMapping==10.3.2
pyobjc-framework-LaunchServices==10.3.2
pyobjc-framework-libdispatch==10.3.2
pyobjc-framework-libxpc==10.3.2
pyobjc-framework-LinkPresentation==10.3.2
pyobjc-framework-LocalAuthentication==10.3.2
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3.2
pyobjc-framework-MailKit==10.3.2
pyobjc-framework-MapKit==10.3.2
pyobjc-framework-MediaAccessibility==10.3.2
pyobjc-framework-MediaLibrary==10.3.2
pyobjc-framework-MediaPlayer==10.3.2
pyobjc-framework-MediaToolbox==10.3.2
pyobjc-framework-Metal==10.3.2
pyobjc-framework-MetalFX==10.3.2
pyobjc-framework-MetalKit==10.3.2
pyobjc-framework-MetalPerformanceShaders==10.3.2
pyobjc-framework-MetalPerformanceShadersGraph==10.3.2
pyobjc-framework-MetricKit==10.3.2
pyobjc-framework-MLCompute==10.3.2
pyobjc-framework-ModelIO==10.3.2
pyobjc-framework-MultipeerConnectivity==10.3.2
pyobjc-framework-NaturalLanguage==10.3.2
pyobjc-framework-NetFS==10.3.2
pyobjc-framework-Network==10.3.2
pyobjc-framework-NetworkExtension==10.3.2
pyobjc-framework-NotificationCenter==10.3.2
pyobjc-framework-OpenDirectory==10.3.2
pyobjc-framework-OSAKit==10.3.2
pyobjc-framework-OSLog==10.3.2
pyobjc-framework-PassKit==10.3.2
pyobjc-framework-PencilKit==10.3.2
pyobjc-framework-PHASE==10.3.2
pyobjc-framework-Photos==10.3.2
pyobjc-framework-PhotosUI==10.3.2
pyobjc-framework-PreferencePanes==10.3.2
pyobjc-framework-PushKit==10.3.2
pyobjc-framework-Quartz==10.3.2
pyobjc-framework-QuickLookThumbnailing==10.3.2
pyobjc-framework-ReplayKit==10.3.2
pyobjc-framework-SafariServices==10.3.2
pyobjc-framework-SafetyKit==10.3.2
pyobjc-framework-SceneKit==10.3.2
pyobjc-framework-ScreenCaptureKit==10.3.2
pyobjc-framework-ScreenSaver==10.3.2
pyobjc-framework-ScreenTime==10.3.2
pyobjc-framework-ScriptingBridge==10.3.2
pyobjc-framework-SearchKit==10.3.2
pyobjc-framework-Security==10.3.2
pyobjc-framework-SecurityFoundation==10.3.2
pyobjc-framework-SecurityInterface==10.3.2
pyobjc-framework-SensitiveContentAnalysis==10.3.2
pyobjc-framework-ServiceManagement==10.3.2
pyobjc-framework-SharedWithYou==10.3.2
pyobjc-framework-SharedWithYouCore==10.3.2
pyobjc-framework-ShazamKit==10.3.2
pyobjc-framework-Social==10.3.2
pyobjc-framework-SoundAnalysis==10.3.2
pyobjc-framework-Speech==10.3.2
pyobjc-framework-SpriteKit==10.3.2
pyobjc-framework-StoreKit==10.3.2
pyobjc-framework-Symbols==10.3.2
pyobjc-framework-SyncServices==10.3.2
pyobjc-framework-SystemConfiguration==10.3.2
pyobjc-framework-SystemExtensions==10.3.2
pyobjc-framework-ThreadNetwork==10.3.2
pyobjc-framework-UniformTypeIdentifiers==10.3.2
pyobjc-framework-UserNotifications==10.3.2
pyobjc-framework-UserNotificationsUI==10.3.2
pyobjc-framework-VideoSubscriberAccount==10.3.2
pyobjc-framework-VideoToolbox==10.3.2
pyobjc-framework-Virtualization==10.3.2
pyobjc-framework-Vision==10.3.2
pyobjc-framework-WebKit==10.3.2
pyogrio==0.11.1
pyOpenSSL==25.0.0
pyotp==2.9.0
pyparsing==3.1.2
pypdf==6.7.0
PyPDF2==3.0.1
pyperclip==1.9.0
PyPika==0.48.9
pypng==0.20220715.0
pyproj==3.7.2
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
pyqt5ac==1.2.1
PyRect==0.2.0
PyScreeze==1.0.1
pyseeyou==1.0.2
pytesseract==0.3.13
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.2.1
pytest-factoryboy==2.7.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-repeat==0.9.4
pytest-rerunfailures==15.1
pytest-split==0.10.0
pytest-sugar==1.0.0
pytest-timeout==2.3.1
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-jose==3.3.0
python-json-logger==3.3.0
python-multipart==0.0.9
python-slugify==8.0.4
pytrends==4.9.2
pyttsx3==2.98
pytube==15.0.0
pytweening==1.2.0
pytz==2025.2
pywebview==5.4
PyWinBox==0.7
PyWinCtl==0.4.1
PyYAML==6.0.1
pyzmq==27.0.0
qgis-plugin-ci==2.8.10
qrcode==7.4.2
queuelib==1.8.0
rank-bm25==0.2.2
redis==5.2.1
referencing==0.35.1
regex==2024.11.6
repath==0.9.0
reportlab==4.2.5
requests==2.32.5
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.6
revChatGPT==6.8.6
rich==14.1.0
rich-toolkit==0.13.2
rpds-py==0.20.0
rsa==4.9
rubicon-objc==0.5.0
s3transfer==0.10.4
safetensors==0.4.5
sbvirtualdisplay==1.4.0
schedule==1.2.2
scikit-learn==1.5.2
scipy==1.14.1
Scrapy==2.13.3
scrapy-cloudflare-middleware==0.0.1
seaborn==0.13.2
selenium==4.34.2
selenium-stealth==1.0.6
seleniumbase==4.40.6
sentence-transformers==3.4.1
sentencepiece==0.2.0
sentry-sdk==2.50.0
service-identity==24.2.0
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
six==1.16.0
slack==0.0.2
slackclient==2.9.4
slowapi==0.1.9
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.5
SpeechRecognition==3.12.0
SQLAlchemy==2.0.30
SQLAlchemy-Utils==0.41.2
srt==3.5.3
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.37.2
stevedore==5.4.1
streamlit==1.39.0
sympy==1.13.1
tabcompleter==1.4.0
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-hub==0.12.0
tensorflowjs==3.18.0
termcolor==3.1.0
text-unidecode==1.3
tf-playwright-stealth==1.1.2
tf_keras==2.18.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tiktoken==0.9.0
tldextract==5.3.0
tls-client==1.0.1
tokenizers==0.20.3
toml==0.10.2
toolz==1.0.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.3
transifex-python==3.5.0
trio==0.30.0
trio-websocket==0.12.2
tweepy==4.15.0
Twisted==25.5.0
typer==0.12.3
types-passlib==1.7.7.20250602
types-pyasn1==0.6.0.20250516
types-python-dateutil==2.9.0.20241206
types-python-jose==3.5.0.20250531
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
uagents==0.15.2
uagents-ai-engine==0.5.0
ujson==5.10.0
ultralytics==8.3.55
ultralytics-thop==2.0.13
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.29.0
uvloop==0.21.0
validators==0.35.0
vine==5.1.0
virtualenv==20.31.2
vosk==0.3.44
w3lib==2.3.1
wandb==0.24.0
watchdog==4.0.2
watchfiles==0.21.0
wcwidth==0.2.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.4
wheel==0.45.1
wikipedia==1.4.0
wrapt==1.17.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.20.1
zipp==3.21.0
zope.interface==7.2
